@font-face {
    font-family: 'Lexia';
    src: url('../assets/fonts/Lexia-Italic.woff2') format('woff2'),
         url('../assets/fonts/Lexia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lexia';
    src: url('../assets/fonts/Lexia-Advertising.woff2') format('woff2'),
         url('../assets/fonts/Lexia-Advertising.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lexia';
    src: url('../assets/fonts/Lexia-Bold.woff2') format('woff2'),
         url('../assets/fonts/Lexia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lexia';
    src: url('../assets/fonts/Lexia-Thin.woff2') format('woff2'),
         url('../assets/fonts/Lexia-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lexia';
    src: url('../assets/fonts/Lexia-Regular.woff2') format('woff2'),
         url('../assets/fonts/Lexia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
